language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "8"
  - "6"

sudo: false

cache:
  directories:
    - node_modules

addons:
  apt:
    sources:
      - sourceline: 'deb https://dl.yarnpkg.com/debian/ stable main'
        key_url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
    packages:
      - yarn
